# Rust
/target

# Node.js
/node_modules
rwp_frontend/node_modules

# Build outputs
/dist
/build
rwp_frontend/dist
rwp_frontend/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.code-workspace

# Vite cache
rwp_frontend/.vite

# TypeScript build cache
rwp_frontend/tsconfig.tsbuildinfo

# Devtools
.generated/
